.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h2 {
  font-size: larger;

}

.container {
    background-color: #96CAFA;
    width: 450px;
    height: auto;
    border-radius: 5px;
    margin: auto;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
