.label {
    background-color: whitesmoke;
    display: block;
    margin-right: 2px;
    margin: auto;
    border: none;
    width: 75%;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    flex-direction: column;
    margin-top: 55px;
}
.label1 {
  background-color: whitesmoke;
    border: none;
    width: 150px !important;
    height: auto;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 30px;

}


  
  /* Style the input */
  .input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  .h1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: whitesmoke;
      text-align: center;
      margin: 32px 0;
      font-size: 24px;
  }
  .listh1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:#6FB6F9;
      text-align: center !important;
      margin: 32px 0;
      font-size: 24px;

  }
 .image {
     text-align: center;
 }
 .container {
   background-color: indianred;
   width: 450px;
   height: auto;
   border-radius: 5px;
   margin: auto;
   flex-direction: column;
   padding-top: 10px;
   padding-bottom: 30px;
   margin-bottom: 50px;

 }
 .inputtext {
   height: 30px !important; 
   width: 300px !important;
   border-style: none !important;
   outline-style: none !important;
 }

 .buttonsubmit {
   border-radius: 5px !important;
   border-style: none;
   text-align: center;

 }

 .buttonerase {
   border-style: none;
   text-align: center;
   border-radius: 5px;
   font-size: 12px;
   margin-bottom: 10px;
   padding-bottom: 5px;
   padding-top: 5px;
   
 }

 .buttonstyle {
   margin: right;
 }

 .containerinput {
  height: 40px !important; 
  width: 320px !important;
  margin: auto;
  background-color: white;
  padding-top: 2px;
  margin-bottom: 15px;
  padding-left: 9px;
  border-radius: 5px;

 }
 .inputtext:focus {
   border-style: none !important;
   outline-style: none !important;
   box-shadow: none !important;
}

.containerbutton  {
  margin-left: 120px !important;
  margin-top: 15px;
  margin-bottom: 70px !important;

}
.textlabel {
  margin: auto !important;
  text-align: left !important;
  position: relative;
}
.clickbutton {
  border-style: none;
  text-align: center !important;
  border-radius: 5px;
  font-size: 20px; 
  margin-bottom: 10px;
  margin-left: 190px;
  color: whitesmoke !important;
  background-color: lightskyblue !important;
  padding-left: 15px;
  padding-right: 15px;

}